<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<h1 class="text-center">Game Log</h1>
<form class="p-5 w-500 m-auto" action="{{ url_for('random_item') }}" method="POST">
    <input class="m-b-5 p-5 w-500 border-1 border-radius-5" placeholder="How many random games?" type="number" name="Random" autocomplete="off">
    <br>
    <button class="m-b-5 w-500 border-1 border-radius-5" type="submit">Test</button>
</form>
<div class="m-5 p-10 y-scroll h-500 border-1 border-radius-5">
    <table>
        {% for item in list_data %}
            <tr>
            {% if list_data[0] == item %}
                {% for subitem in item %}
                    <th>{{ subitem }}</th>
                {% endfor %}
            {% else %}
                {% for subitem in item %}
                    <td>{{ subitem }}</td>
                {% endfor %}
            {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>
<p class="text-center">There are {{ list_data|length }} results from the given search.</p>
{% endblock %}